<template>
  <form @submit="onSubmit" class="add-form">
    <div class="form-control">
      <label>Clock</label>
      <input type="text" v-model="clock" name="text" placeholder="Add Clock" />
    </div>
    <div class="form-control">
      <label>Day & Time</label>
      <input
          type="text"
          v-model="date"
          name="day"
          placeholder="Add Day & Time"
      />
    </div>
    <div class="form-control form-control-check">
      <label>Set Reminder</label>
      <input type="checkbox" v-model="reminder" name="reminder" />
    </div>

    <input type="submit" value="Save Clock" class="btn btn-block" />
  </form>
</template>

<script>
export default {
  name: 'AddClock',
  data() {
    return {
      clock: '',
      date: '',
      reminder: false,
    }
  },
  methods: {
    onSubmit(e) {
      e.preventDefault()
      if (!this.clock) {
        alert('Please add a clock')
        return
      }
      const newClock = {
        clock: this.clock,
        date: this.date,
        reminder: this.reminder,
      }
      this.$emit('add-clock', newClock)
      this.clock = ''
      this.date = ''
      this.reminder = false
    },
  },
}
</script>

<style scoped>

</style>