<template>
  <div
      @dblclick="$emit('toggle-reminder', index, clock.reminder)"
      :class="[clock.reminder ? 'reminder' : '', 'clock']"
  >
    <h3>
      {{ clock.clock }}
      <i @click="$emit('delete-clock', clock.id)" class="fas fa-times"></i>
    </h3>
    <p>{{ clock.date }}</p>
  </div>
</template>

<script>
export default {
  name: 'Clock',
  props: {
    clock: Object,
    index: Number
  },
}
</script>

<style scope>
.fas {
  color: red;
}
.clock {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}
.clock.reminder {
  border-left: 5px solid green;
}
.clock h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
</style>