<template>
  <div :key="clock.id" v-for="(clock, index) in clocks">
    <Clock
        @toggle-reminder="$emit('toggle-reminder', index, clock.reminder)"
        @delete-clock="$emit('delete-clock', index, clock.id)"
        :clock="clock"
    />
  </div>
</template>

<script>
import Clock from './Clock.vue'
export default {
  name: 'Clocks',
  props: {
    clocks: {},
  },
  components: {
    Clock,
  },
  emits: ['delete-clock', 'toggle-reminder'],
}
</script>