<template>
  <AddClock v-show="showAddClock" @add-clock="addClock" />
  <Clocks
      @toggle-reminder="toggleReminder"
      @delete-clock="deleteClock"
      :clocks="clocks"
  />
</template>

<script>
import Clocks from '../components/Clocks'
import AddClock from '../components/AddClock'
export default {
  name: 'Home',
  props: {
    showAddClock: Boolean,
  },
  components: {
    Clocks,
    AddClock,
  },
  data() {
    return {
      clocks: [],
    }
  },
  methods: {
    async addClock(clock) {
      const addClock = await fetch('http://127.0.0.1:5000', {
        method: 'POST',
        headers: {
          'Content-type': 'application/json',
        },
        body: JSON.stringify(clock),
      })
      const res = await fetch('http://127.0.0.1:5000')
      this.clocks = await res.json()
    },
    async deleteClock(index, id) {
      if (confirm('Are you sure?')) {
        const res = await fetch(`http://127.0.0.1:5000/?id=${index+1}`, {
          method: 'DELETE',
        })
        res.status === 200
            ? (this.clocks = this.clocks.filter((clock) => clock.id !== id))
            : alert('Error deleting clock')
      }
    },
    async toggleReminder(index, reminder) {
      reminder = reminder === false;
      const res = await fetch(`http://127.0.0.1:5000/?id=${index+1}&reminder=${reminder}`, {
        method: 'PUT',
      })
      const data = await res.json()
      this.clocks = this.clocks.map((clock) =>
          clock.id === index ? { ...clock, reminder: reminder } : clock
      )
    },
    async fetchClocks() {
      const res = await fetch('http://127.0.0.1:5000')
      const data = await res.json()
      return data
    },
  },
  async created() {
    this.clocks = await this.fetchClocks()
  },
}
</script>